*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

 p {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: Garamond;
  font-size: 23px;
  text-align: left;
 }

 ul {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: Garamond;
  font-size: 23px;
  text-align: left;

 }

 a {
  color: white;
 }

 .titulo1 {
  color: white;
  margin-top: 40px;
  text-align: center;
  font-family: Lucida Console;
  font-size: 26px;
 }

 .titulo2 {
  color: white;
  margin-top: 10px;
  text-align: center;
  font-family: Lucida Console;
  font-size: 26px;
 }

 .inicio {
  text-align: center;
  }

 .card {
  align-items: center;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.7);
  width: 600px;
  margin-top: 125px;
  margin-left: 400px;
  box-shadow: 0px 2px 10px;
 }

 .jogar {
  margin-top: 30px
  margin-button: 30px;
  text-align: center;

 }



  