/*Cabecalho*/


.header{
	background-image: url('fundo.jpg');
	
}


.menu{
	text-align: right;
	padding: 0px 20px 40px;
	margin-right: 5%;
}

.menu ul li{
	display: inline-block;
	position: relative;
}

.menu ul li a{
	color: #DCDCDC;
	background-color: #000000;
	padding: 10px;
	border-radius: 7px;
}

.menu ul li a:hover{
	background-color: rgb(24, 139, 233);
	transition: background .6s;
}


/*submenu*/

.menu ul ul{
	display: none;
	position: absolute;
}

.menu ul li:hover ul{
	display: block;
	position: absolute;
}

.menu ul ul{
	margin: auto;
}

.menu ul ul li a{
	display: block;
}

#titulo{
	 text-align: left;
	 padding: 10px 0px 0px 5px;
	 font-size: 38px;
	 color: #DCDCDC;
}

#titulo2{
	text-align: left;
	color: #DCDCDC;
}

/*Rodape*/

.rodape{
	background-image: url('fundo.jpg');
	width: 100%;
}


.rodape{
	display: flex;
	flex-wrap: wrap;
	color: #DCDCDC;
	padding: 50px;
	padding-left: 150px;
	
	
}

.rodape div{
	margin-left: 100px;
}

.rodape div li a{
	color: #DCDCDC;
}

.rodape div li a:hover{
	color: #0000FF;
}

/*Contato e Incrição*/

.frase p{
	color: #fff;
	background-color: grey;
	padding: 20px;
	text-align: center;
	margin: 5% 10% 0% 10%;
}

.text{
	margin: 2%;
	text-align: center;
}

fieldset{
	border: none;
}

.contato{
	margin: 5% 10% 5% 10%;
}

.caixa{
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border-color: #87CEFA;
	background-color: #B0E0E6;
}

.botao{
	color: #ffffff;
	background-color: #000000;
	padding: 10px;
	border-radius: 5px;
}

.botao:hover{
    color: #000000;
    background-color: #87CEFA;
	transition: background .6s;
}


